In [1]:
%load_ext sql
%sql mysql+mysqlconnector://root:dinu@localhost/customer_behaviour

In [2]:
%%sql
show databases

 * mysql+mysqlconnector://root:***@localhost/customer_behaviour
12 rows affected.

[('customer_behaviour',),
 ('de_project',),
 ('din_learn',),
 ('dl_da',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('spotify_db',),
 ('sys',),
 ('test',),
 ('world',)]

In [7]:
%%sql
/* creating the database */
create database customer_behaviour;

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[]

In [3]:
%%sql
select * from customer limit 10

 * mysql+mysqlconnector://root:***@localhost/customer_behaviour
10 rows affected.

[(1, 55, 'Male', 'Blouse', 'Clothing', 53, 'Kentucky', 'L', 'Gray', 'Winter', 3.1, 'Yes', 'Express', 'Yes', 14, 'Venmo', 'Fortnightly', 'Middle-Aged'),
 (2, 19, 'Male', 'Sweater', 'Clothing', 64, 'Maine', 'L', 'Maroon', 'Winter', 3.1, 'Yes', 'Express', 'Yes', 2, 'Cash', 'Fortnightly', 'Young Adults'),
 (3, 50, 'Male', 'Jeans', 'Clothing', 73, 'Massachusetts', 'S', 'Maroon', 'Spring', 3.1, 'Yes', 'Free Shipping', 'Yes', 23, 'Credit Card', 'Weekly', 'Middle-Aged'),
 (4, 21, 'Male', 'Sandals', 'Footwear', 90, 'Rhode Island', 'M', 'Maroon', 'Spring', 3.5, 'Yes', 'Next Day Air', 'Yes', 49, 'PayPal', 'Weekly', 'Young Adults'),
 (5, 45, 'Male', 'Blouse', 'Clothing', 49, 'Oregon', 'M', 'Turquoise', 'Spring', 2.7, 'Yes', 'Free Shipping', 'Yes', 31, 'PayPal', 'Annually', 'Middle-Aged'),
 (6, 46, 'Male', 'Sneakers', 'Footwear', 20, 'Wyoming', 'M', 'White', 'Summer', 2.9, 'Yes', 'Standard', 'Yes', 14, 'Venmo', 'Weekly', 'Middle-Aged'),
 (7, 63, 'Male', 'Shirt', 'Clothing', 85, 'Montana', 'M', 'Gray', 'Fall', 3.2, 'Yes', 'Free Shipping', 'Yes', 49, 'Cash', 'Quarterly', 'Senior'),
 (8, 27, 'Male', 'Shorts', 'Clothing', 34, 'Louisiana', 'L', 'Charcoal', 'Winter', 3.2, 'Yes', 'Free Shipping', 'Yes', 19, 'Credit Card', 'Weekly', 'Young Adults'),
 (9, 26, 'Male', 'Coat', 'Outerwear', 97, 'West Virginia', 'L', 'Silver', 'Summer', 2.6, 'Yes', 'Express', 'Yes', 8, 'Venmo', 'Annually', 'Young Adults'),
 (10, 57, 'Male', 'Handbag', 'Accessories', 31, 'Missouri', 'M', 'Pink', 'Spring', 4.8, 'Yes', '2-Day Shipping', 'Yes', 4, 'Cash', 'Quarterly', 'Middle-Aged')]

In [3]:
%%sql
/* Q1. What is the total revenue generated by male vs. female customers? */
select gender, sum(purchase_amount)
from customer
group by gender;

 * mysql+mysqlconnector://root:***@localhost/customer_behaviour
2 rows affected.

[('Male', Decimal('157890')), ('Female', Decimal('75191'))]

In [15]:

%%sql
/*Q2. Which customers used a discount but still spent more than the average purchase
amount?*/

select count(customer_id) from customer 
where discount_applied = 'Yes' and purchase_amount > (select avg(purchase_amount) from customer);

 * mysql+mysqlconnector://root:***@localhost/customer_behaviour
1 rows affected.

[(839,)]

In [21]:
%%sql
/* Q3. Which are the top 5 products with the highest average review rating? */

select item_purchased, round(avg(review_rating),2) as avg_rating
from customer
group by item_purchased
order by avg_rating desc
limit 5

 * mysql+mysqlconnector://root:***@localhost/customer_behaviour
5 rows affected.

[('Gloves', 3.86),
 ('Sandals', 3.84),
 ('Boots', 3.82),
 ('Hat', 3.8),
 ('Skirt', 3.79)]

In [23]:
%%sql
*/ Q4. Compare the average Purchase Amounts between Standard and Express Shipping. */
select shipping_type, round(avg(purchase_amount),2) as avg_amount
from customer
group by shipping_type
having shipping_type in ("Standard","Express");

 * mysql+mysqlconnector://root:***@localhost/customer_behaviour
2 rows affected.

[('Express', Decimal('60.48')), ('Standard', Decimal('58.46'))]

In [28]:
%%sql
/* Q5. Do subscribed customers spend more? Compare average spend and total revenue between
subscribers and non-subscribers. */
select subscription_status,
count(customer_id) as total_count,
avg(purchase_amount) as avg_spend,
sum(purchase_amount) as total_revenue
from customer
group by subscription_status
order by total_revenue, avg_spend;

 * mysql+mysqlconnector://root:***@localhost/customer_behaviour
2 rows affected.

[('Yes', 1053, Decimal('59.4919'), Decimal('62645')),
 ('No', 2847, Decimal('59.8651'), Decimal('170436'))]

In [29]:
%%sql 
select discount_applied, count(customer_id) from customer
group by discount_applied

 * mysql+mysqlconnector://root:***@localhost/customer_behaviour
2 rows affected.

[('Yes', 1677), ('No', 2223)]

In [30]:
%%sql
/*Q6. Which 5 products have the highest percentage of purchases with discounts applied?*/
select item_purchased, 
ROUND(
    (SUM(CASE WHEN discount_applied = 'Yes' THEN 1 ELSE 0 END) / COUNT(*)) * 100
, 2) AS discount_rate
from customer
group by item_purchased
order by discount_rate desc
limit 5;

 * mysql+mysqlconnector://root:***@localhost/customer_behaviour
5 rows affected.

[('Hat', Decimal('50.00')),
 ('Sneakers', Decimal('49.66')),
 ('Coat', Decimal('49.07')),
 ('Sweater', Decimal('48.17')),
 ('Pants', Decimal('47.37'))]

In [4]:
%%sql
/* Q7. Segment customers into New, Returning, and Loyal based on their total number of
previous purchases, and show the count of each segment.*/
with customer_type as (
    select customer_id, previous_purchases,
    case 
        when previous_purchases=1 then 'New customer'
        when previous_purchases between 2 and 10 then 'Regular'
        else 'Loyal'
        end as customer_segment
from customer
)
select customer_segment, count(*) as Number_of_customer
from customer_type
group by customer_segment

 * mysql+mysqlconnector://root:***@localhost/customer_behaviour
3 rows affected.

[('Loyal', 3116), ('Regular', 701), ('New customer', 83)]

In [42]:
%%sql
/* Q8. What are the top 3 most purchased products within each category?*/
with item_counts as( 
select item_purchased, category,
count(customer_id) as total_purchases,
row_number() over (partition by category order by count(customer_id) desc) as item_rank
from customer
group by category,item_purchased
)
select item_rank, category, item_purchased, total_purchases
from item_counts
where item_rank<=3

 * mysql+mysqlconnector://root:***@localhost/customer_behaviour
11 rows affected.

[(1, 'Accessories', 'Jewelry', 171),
 (2, 'Accessories', 'Sunglasses', 161),
 (3, 'Accessories', 'Belt', 161),
 (1, 'Clothing', 'Blouse', 171),
 (2, 'Clothing', 'Pants', 171),
 (3, 'Clothing', 'Shirt', 169),
 (1, 'Footwear', 'Sandals', 160),
 (2, 'Footwear', 'Shoes', 150),
 (3, 'Footwear', 'Sneakers', 145),
 (1, 'Outerwear', 'Jacket', 163),
 (2, 'Outerwear', 'Coat', 161)]

In [50]:
%%sql
select
round(sum(
    case when subscription_status='Yes' and previous_purchases>=5 then 1 else 0 end)*100/count(*),2) as subscription_rate
from customer

 * mysql+mysqlconnector://root:***@localhost/customer_behaviour
1 rows affected.

[(Decimal('25.13'),)]

In [53]:
%%sql
/* Q9. Are customers who are repeat buyers (more than 5 previous purchases) also likely to
subscribe? */
select
subscription_status,
count(customer_id) as repeat_buyers
from customer
where previous_purchases>=5
group by subscription_status

 * mysql+mysqlconnector://root:***@localhost/customer_behaviour
2 rows affected.

[('Yes', 980), ('No', 2583)]

In [57]:
%%sql
/* Q10. What is the revenue contribution of each age group? */
select 
age_group,
sum(purchase_amount) as revenue
from customer
group by age_group
order by revenue desc

 * mysql+mysqlconnector://root:***@localhost/customer_behaviour
4 rows affected.

[('Young Adults', Decimal('62143')),
 ('Middle-Aged', Decimal('59197')),
 ('Adults', Decimal('55978')),
 ('Senior', Decimal('55763'))]